<h1>Log In</h1>
<%= form_tag('/login', method: :post) do %>
      <br>
      <%= label_tag :name %>
      <%= collection_select(:user, :name, User.all, :name, :name, :prompt => true)%>
      <br>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <br>
      <%= submit_tag "Log In" %>
  <% end %>