

<%= form_for @guest do |f| %>

  <% if @guest.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@guest.errors.count, "error") %> prohibited
      this guest from being saved:
    </h2>
    <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  

  <br><label> Name:</label><br>
  <%= f.text_field :name %></br>

  <label>Phone number:</label><br>
  <%= f.telephone_field :phone_number %></br>
  
  <label>adress:</label><br>
  <%= f.text_field :adress %></br>
  
  <label>email:</label><br>
  <%= f.email_field :email %></br>
  
  <label>time line:</label><br>
  <%= f.text_field :time_line %></br>
  
  <label>comment:</label><br>
  <%= f.text_field :comment %></br>

  <%= f.hidden_field :user_id %>

  <%= f.hidden_field :user_id %>

  <%= f.collection_select( :house_id, House.all, :id, :adress, :prompt=>true) %>
 
  
 
  <%= f.submit %>

<% end %>
   
    
    
    
  