
<p>
<li>
<label>Name:</label> <%= guest.name %>
</li>

<li>
<label>Phone:</label> <%= guest.phone_number %>
</li>

<li>
<label>Adress:</label> <%= guest.adress %>
</li>

<li>
<label>Email:</label> <%= guest.email %>
</li>



<li>
<label>Timeline:</label> <%= guest.time_line %>
</li>

<li>
<label>Note:</label> <%= guest.comment %>
</li>
</p>


<p>
  <%= link_to 'Delete Guest', [guest.house, guest],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

