<h1> Guests index <h1>


<% if @guests = current_user.guests %>
<% @guests.each  do | guest|%>

    guest number: <%= guest.id %>

   

    
 <li>
<label>Name:</label> <%= guest.name %>
</li>

<li>
<label>Phone:</label> <%= guest.phone_number %>
</li>

<li>
<label>Adress:</label> <%= guest.adress %>
</li>

<li>
<label>Email:</label> <%= guest.email %>
</li>

<li>
<label>Timeline:</label> <%= guest.time_line %>
</li>

<li>
<label>Note:</label> <%= guest.comment %>
</li>





<% end %>


<%else%>

<h1><%= no guests to show %><h1>

<% end %>



