
# t.string "name"
# t.string "phone_number"
# t.string "adress"
# t.string "email"
# t.string "time_line"
# t.text "comment"
# t.integer "user_id"
# t.integer "house_id"


# need to be able to select only house that user create


<%= form_for @guest do |f| %>

    <label> Name:</label><br>
  <%= f.text_field :name %></br>


  <label>Phone number:</label><br>
  <%= f.telephone_field :phone_number %></br>

  <label>adress:</label><br>
  <%= f.text_field :adress %></br>

  <label>email:</label><br>
  <%= f.email_field :email %></br>

  <label>time line:</label><br>
  <%= f.text_field :time_line %></br>

  <label>comment:</label><br>
  <%= f.text_field :comment %></br>

 <%= f.hidden_field :user_id %>

  <%= f.hidden_field :house_id %>


  <%= f.collection_select( :house_id, House.all, :id, :adress, :prompt=>true) %>
 
  
 
  <%= f.submit %>

<% end %>

