
 <h1> GUEST/SHOW </h1>


 <%= form_for @guest do |f| %>

 <label> Name:</label><br>
<%= f.text_field :name %></br>

<label>Phone number:</label><br>
<%= f.telephone_field :phone_number %></br>

<label>address:</label><br>
<%= f.text_field :address %></br>

<label>email:</label><br>
<%= f.email_field :email %></br>

<label>time line:</label><br>
<%= f.text_field :time_line %></br>

<label>comment:</label><br>
<%= f.text_field :comment %></br>

<%= f.hidden_field :user_id %>

<%= f.hidden_field :house_id %>


<%= f.collection_select( :house_id, House.all, :id, :address, :prompt=>true) %>
 
  
 
<%= f.submit %>

<% end %>



<%= link_to 'Edit Guest', edit_guest_path(@guest) %>


  
  

 