
 <h1> GUEST/SHOW </h1>

 <%= form_for @guest do |f| %>

  <label> Name:</label><br>
<%= f.text_field :name %></br>


<label>Phone number:</label><br>
<%= f.telephone_field :phone_number %></br>

<label>adress:</label><br>
<%= f.text_field :adress %></br>

<label>email:</label><br>
<%= f.email_field :email %></br>

<label>time line:</label><br>
<%= f.text_field :time_line %></br>

<label>comment:</label><br>
<%= f.text_field :comment %></br>


  <% end %>
  
  

 