
<% if  current_user%>
    <h1><%= @house.adress %></h1>
    <p>Total Number of Guests: <%= @house.guests.count %></p>
    <p>comment: <%= @house.comment %></p> 
 <li>
 <%= link_to "Edit House", edit_house_path(@house)  %>
 </li>
 <br>
<li>
 <%= link_to 'New Guest ', new_guest_path %>
 </li>
 
    
<%end%>  


