
 
 <%= form_for @house do |f| %>
    <%= f.label :adress %>
    <%= f.text_field :adress %><br>

 <%= f.fields_for :guests do |gue| %>

    <li>
<label> guest Name:</label> <%= gue.text_field :name %>
</li>

    <%end%> 

<li>
 <%= link_to "Edit House", edit_house_path(@house)  %>
 </li>
 <br>
<li>
 <%= link_to 'New Guest ', new_guest_path %>
 </li>
 
    
<%end%>  


