

        <h1> House infos </h1>


        

        <p>
        <strong>Adresss:</strong>
        <%= @house.adress %>
        </p>

        <p>
        <strong>Comment:</strong>
        <%= @house.comment %>
        </p>

        
        <p>
        <%= link_to "Delete", @house, method: :delete, data: {confirm: "Really?"} %>
        </p>


        <p>Total Number of Guests: <%= @house.guests.count %></p>

        <li>
        <%= link_to 'index Guests ', guests_path %>
        </li>
        

        <h2>Guests</h2>
        <% @house.guests.each do |guest| %>
       <p>
       <p>
       <li>
       <label>Name:</label> <%= guest.name %>
       </li>
     
       <p>
       <%= link_to 'Delete Guest', [guest.house, guest],method: :delete,data: { confirm: 'Are you sure?' } %>
       </p>

       <%end%> 

        <h2>Add a guests:</h2>

        
        <%= form_with model: [ @house, @house.guests.build ], local: true do |form| %>
        <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        </p>
        <p>
        <%= form.label :phone_number %><br>
        <%= form.text_field :phone_number%>
        </p>
        <p>
        <%= form.label :adress  %><br>
        <%= form.text_field :adress %>
        </p>
        <p>
        <%= form.label :email  %><br>
        <%= form.text_field :email %>
        </p>
        <p>
        <%= form.label :time_line  %><br>
        <%= form.text_field :time_line %>
        </p>
        <p>
        <%= form.label :comment  %><br>
        <%= form.text_field :comment %>
        </p>
        <p>
        
        <%= form.hidden_field :user_id %>
        </p>
        
        <%= form.hidden_field :house_id %>
        </p>

        <p>
        <%= form.submit %>
       </p>
        <%end%> 

        <%= link_to 'Edit House', edit_house_path(@house) %> |
        <%= link_to 'Back', houses_path %>


        
        

        






