
<h1> user/show </h1>

<li>
<%= form_for @user do |f| %>
 <%= f.text_field :name %></br>
 </li>

 <li>
 <%= f.email_field :email %></br> 
 <%end%>
 </li>
 
 <li>
 <%= link_to 'new House ', new_house_path %>
 </li>


 <li>
 <%= link_to 'index House ', houses_path %>
 </li>

 <li>
 <%= link_to 'sign Out', signout_path %>
 </li>

 



 


 
 <! -- link_to new_guest_path -->
 <! -- link_to /logout -->


 