
<h1> Welcome <%= @user.name %></br> </h1>



<h3></h3>
 <h3><%= @user.email %></br></h3>  
 
 

 <p>
 <li>
 <%= link_to 'new House ', new_house_path %>
 </li>


 <li>
 <%= link_to 'index House ', houses_path %>
 </li>

 <li>
 <%= link_to 'sign Out', signout_path %>
 </li>
 </p>
 



 


 
 <! -- link_to new_guest_path -->
 <! -- link_to /logout -->


 