<!DOCTYPE html>
<html>
  <head>
    <title>RailsFinalProject01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <%= image_tag("home-real-estate-106399.jpg",style:"height: 200px; width:1000px")%>
   

 
    <%= yield %>
  </body>
</html>
